---
const {icon, ...props} = Astro.props;
---

<a {...props} target="_blank"
   class="group gap-2 bg-slate-200 dark:bg-slate-800 hover:bg-slate-100 dark:hover:bg-slate-900 hover:ring-4 hover:ring-slate-200 dark:hover:ring-slate-800 rounded-xl px-4 py-2.5 sm:text-lg flex items-center justify-center transition-all underline underline-offset-2 text-slate-800 dark:text-slate-50 decoration-slate-300 dark:decoration-slate-600">
    <span class="flex items-center justify-center">
        <span class={`${icon} fa-fw fa-lg`} title={props.title} aria-hidden="true"></span>
        <span class="sr-only">{props.title}</span>
    </span>
    <span class="text-ellipsis whitespace-nowrap overflow-hidden flex-1 xs:text-center xs:-mx-10">
        <slot/>
    </span>
    <span class="flex items-center justify-center">
        <span class={`fa-sharp fa-regular fa-arrow-right fa-fw opacity-50 transition-all group-hover:-rotate-45`} title={props.title} aria-hidden="true"></span>
        <span class="sr-only">{props.title}</span>
    </span>
</a>